* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Layout */
.mainContainer {
  display: flex;
  min-height: 100vh;
  background: #f5f7fb;
}

/* ==================================
   Sidebar
================================== */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 260px;
  height: 100vh;

  background: #1e293b;
  color: white;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow-y: auto;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: bold;
}

/* Menu Links */

.menuLink {
  display: block;

  width: 100%;

  padding: 14px 15px;

  margin-bottom: 12px;

  background: #334155;

  color: white;

  text-decoration: none;

  border: none;

  border-radius: 8px;

  cursor: pointer;

  transition: 0.3s;

  text-align: left;

  font-size: 16px;
}

.menuLink:hover {
  background: #475569;
}

/* Logout */

.logoutSection {
  margin-top: auto;
}

.logoutBtn {
  background: #dc2626;
}

.logoutBtn:hover {
  background: #b91c1c;
}

/* Content Area*/

.contentArea {
  margin-left: 260px;
  width: calc(100% - 260px);
}

/* Navbar Fixed */

.navbar {
  position: fixed;

  top: 0;
  left: 260px;

  width: calc(100% - 260px);

  height: 70px;

  background: white;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0 25px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  z-index: 1000;
}

.navbar h2 {
  color: #1e293b;
}

/*Page Content */

.pageContent {
  padding: 25px;
  margin-top: 80px;
}

/* Responsive*/

@media (max-width: 768px) {
  .sidebar {
    width: 220px;
  }

  .contentArea {
    margin-left: 220px;
    width: calc(100% - 220px);
  }

  .navbar {
    left: 220px;
    width: calc(100% - 220px);
  }
}

@media (max-width: 576px) {

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .contentArea {
    margin-left: 0;
    width: 100%;
  }

  .navbar {
    position: relative;
    left: 0;
    width: 100%;
  }

  .pageContent {
    margin-top: 20px;
  }
}